
<script src="~/Scripts/bootstrap.min.js"></script>
    <h1 id="h">Congratulations</h1>
@Html.ActionLink("fill another application", "createApplication", "Applicant")
<style>

    h1 {
        margin-left: 27rem;
        margin-top: 17rem;
        font-size: 50;
    }
    a
    {
        font-size: 30;
        margin-left: 60rem;
    }
</style>